<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TaskList</display-name>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/ressource/jsp/tagLib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  
  <!-- Servlet -->
  <servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>com.seb.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<servlet-class>com.seb.servlet.TestAffichageMessage</servlet-class>
  </servlet>
  
  
  <!-- Servlet Mapping-->
  
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  
  <!-- error default page -->
  <error-page>
  	<location>/ressource/jsp/Test.jsp</location>
  </error-page>
  
  <!-- Page d'acceuil ? -->  
  <welcome-file-list>
    <welcome-file>Test</welcome-file>
  </welcome-file-list>
  
  
  <resource-ref>
      <res-ref-name>jdbc/MySqlDS</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  
  
  
</web-app>